<div class="p-8 rounded-md shadow
bg-white dark:bg-slate-700 dark:bg-opacity-50">
  <h2 class="text-xs uppercase dark:text-white/50 mb-4">
    <%= yield %>
  </h2>
  <div class="bg-black-100/5 ml-6 mr-4 mt-14 mb-2" style="height: calc(var(--chart-height) - 2rem)"></div>
</div>